{
  "hooks": {
    "UserPromptSubmit": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "UserPromptSubmit"
            ]
          }
        ]
      }
    ],
    "PermissionRequest": [
      {
        "matcher": "Bash|PowerShell",
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "PermissionRequest"
            ]
          }
        ]
      }
    ],
    "Notification": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "Notification"
            ]
          }
        ]
      }
    ],
    "PreToolUse": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "PreToolUse"
            ]
          }
        ]
      }
    ],
    "PostToolUse": [
      {
        "matcher": ".*",
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "PostToolUse"
            ]
          }
        ]
      }
    ],
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "py",
            "args": [
              "-3",
              "C:\\Users\\graml\\Downloads\\Claude_traffic\\hw_light.py",
              "Stop"
            ]
          }
        ]
      }
    ]
  }
}
